* {
    box-sizing: border-box;
}

.header-container {
    background-color: #008080;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    padding: 10px 20px;
    align-items: center;
}

.logo {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F5F5DC;
}

.header-links {
    display: flex;
    gap: 10px;
}

.header-links a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #F5F5DC;
}

.one-container {
    background-color: #008080;
}

.one {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
    color: #F5F5DC;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #F5F5DC;
}

.hero-button {
    background-color: #FFA500;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    border-style: none;
}

#thorongla {
    width: 800px;
}

.two-container {
    background-color: #F5F5DC;
}

.two{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin: 0;
}

.card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.three-container {
    background-color: #ECECEC;
}

.three {
    width: 1200px;
    margin: auto;
    padding: 100px;
    text-align: right;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #008080;
    margin: 0;
}

.author {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #008080;
    margin: 0;
}

.four-container {
    background-color: #FFFFFF;
}

.four {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.box {
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: #008080;
    gap: 30px;
    flex: 1 1 1000px;
}

.box-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #F5F5DC;
}

.box .hero-button {
    flex: auto;
}

.footer {
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #F5F5DC;
    margin: 30px;
}